{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-3">
    <h1>{{post.title}}</h1>

<small>{{post.author}}</small>

<hr>

<h3>{{post.body}}</h3>

<a class="btn btn-dark" href="{% url 'community'%}" role="button">Back</a>

</div>

<hr>



{% if not post.comments.all %}
<h3>No Comments yet...</h3>

{% else %}

<div class="container-fluid">
    <h3>Comments</h3>
    {% for comment in post.comments.all %}
<small>{{comment.author}}</small>
<h5>{{comment.body}}</h5>
<hr>
{% endfor %}
</div>

{% endif %}


{% endblock %}
