{% extends "web_lawgic/layout.html" %}

{% block body %}

<!-- Contact Section -->
<section id="contact" class="container">
    <h2>Contact Us</h2>
    <p>If you have any questions or need assistance, feel free to reach out to us.</p>
    <form method="POST" action="{% url 'submit' %}">
        {% csrf_token %} 
        <div>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Your Name" required>
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
        </div>
        <div>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
        </div>
        <button type="submit" class="btn">Send Message</button>
    </form>
</section>

{% endblock %}